Repository WorkSync-organization/worksync-rp, pull requests merged in 2025-03, with the labels that each got.

#60 creating model, dto, controller, service and repository of Project
  backend/src/main/java/com/example/worksync/controller/ProjectController.java
  backend/src/main/java/com/example/worksync/dto/requests/ProjectDTO.java
  backend/src/main/java/com/example/worksync/model/Project.java
  backend/src/main/java/com/example/worksync/repository/ProjectRepository.java
  backend/src/main/java/com/example/worksync/service/ProjectService.java
Labels: enhancement, backend

#61 creating model, dto, controller, service and repository of Comment
  backend/src/main/java/com/example/worksync/controller/CommentController.java
  backend/src/main/java/com/example/worksync/dto/requests/CommentDTO.java
  backend/src/main/java/com/example/worksync/model/Comment.java
  backend/src/main/java/com/example/worksync/repository/CommentRepository.java
  backend/src/main/java/com/example/worksync/service/CommentService.java
Labels: enhancement, backend

#86 feat(component): navbar
  frontend/public/assets/header-logo.svg
  frontend/src/app/app.routes.ts
  frontend/src/app/components/navbar/navbar.component.css
  frontend/src/app/components/navbar/navbar.component.html
  frontend/src/app/components/navbar/navbar.component.ts
  frontend/src/app/pages/create-task/create-task.component.css
  frontend/src/app/pages/create-task/create-task.component.html
  frontend/src/app/pages/create-task/create-task.component.spec.ts
  frontend/src/app/pages/create-task/create-task.component.ts
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.ts
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/projects/projects.component.css
  frontend/src/app/pages/projects/projects.component.html
  frontend/src/app/pages/projects/projects.component.spec.ts
  frontend/src/app/pages/projects/projects.component.ts
  frontend/src/app/pages/tasks/tasks.component.css
  frontend/src/app/pages/tasks/tasks.component.html
  frontend/src/app/pages/tasks/tasks.component.spec.ts
  frontend/src/app/pages/tasks/tasks.component.ts
  frontend/src/app/services/types/user.ts
  frontend/src/styles.css
Labels: frontend

#90 feat: projects list screen
  frontend/src/app/components/navbar/navbar.component.html
  frontend/src/app/pages/projects/projects.component.css
  frontend/src/app/pages/projects/projects.component.html
Labels: frontend

#92 feat(page): task detail view
  frontend/src/app/app.routes.ts
  frontend/src/app/pages/tasks/tasks.component.html
  frontend/src/app/pages/tasks/tasks.component.ts
  frontend/src/app/pages/tasks/view-task/view-task.component.css
  frontend/src/app/pages/tasks/view-task/view-task.component.html
  frontend/src/app/pages/tasks/view-task/view-task.component.spec.ts
  frontend/src/app/pages/tasks/view-task/view-task.component.ts
Labels: frontend

#91 feat(page): project detail page
  frontend/src/app/app.routes.ts
  frontend/src/app/pages/projects/projects.component.html
  frontend/src/app/pages/projects/projects.component.ts
  frontend/src/app/pages/projects/view-project/view-project.component.css
  frontend/src/app/pages/projects/view-project/view-project.component.html
  frontend/src/app/pages/projects/view-project/view-project.component.spec.ts
  frontend/src/app/pages/projects/view-project/view-project.component.ts
Labels: frontend

#88 fix: enforce project title validation and change PUT to PATCH
  backend/src/main/java/com/example/worksync/controller/ProjectController.java
  backend/src/main/java/com/example/worksync/service/ProjectService.java
Labels: backend

#89 fix: enforce task title validation and change PUT to PATCH
  backend/src/main/java/com/example/worksync/controller/TaskController.java
  backend/src/main/java/com/example/worksync/service/TaskService.java
Labels: backend

#104 feat(tasks): create task api integration
  frontend/src/app/pages/create-task/create-task.component.css
  frontend/src/app/pages/create-task/create-task.component.html
  frontend/src/app/pages/create-task/create-task.component.ts
  frontend/src/app/services/auth/auth.service.ts
  frontend/src/app/services/auth/tasks/tasks.service.ts
  frontend/src/app/services/types/error.ts
  frontend/src/app/services/types/user.ts
Labels: frontend

#98 feat(page): edit task
  frontend/src/app/pages/create-task/create-task.component.css
  frontend/src/app/pages/edit-task/edit-task.component.css
  frontend/src/app/pages/edit-task/edit-task.component.html
  frontend/src/app/pages/edit-task/edit-task.component.spec.ts
  frontend/src/app/pages/edit-task/edit-task.component.ts
Labels: frontend

#103 feat: task list screen
  frontend/src/app/pages/tasks/tasks.component.css
  frontend/src/app/pages/tasks/tasks.component.html
Labels: frontend

#107 feat(service): add user/projects services and handle error message
  backend/src/main/java/com/example/worksync/controller/AuthController.java
  backend/src/main/java/com/example/worksync/model/User.java
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
  backend/src/main/java/com/example/worksync/service/AuthService.java
  frontend/src/app/app.routes.ts
  frontend/src/app/pages/create-task/create-task.component.css
  frontend/src/app/pages/create-task/create-task.component.html
  frontend/src/app/pages/create-task/create-task.component.ts
  frontend/src/app/pages/projects/create-project/create-project.component.ts
  frontend/src/app/pages/projects/view-project/view-project.component.html
  frontend/src/app/pages/projects/view-project/view-project.component.ts
  frontend/src/app/pages/tasks/tasks.component.html
  frontend/src/app/pages/tasks/tasks.component.ts
  frontend/src/app/pages/tasks/view-task/view-task.component.html
  frontend/src/app/pages/tasks/view-task/view-task.component.ts
  frontend/src/app/services/auth/auth.service.ts
  frontend/src/app/services/project.service.ts
  frontend/src/app/services/tasks.service.ts
  frontend/src/app/services/types/user.ts
  frontend/src/app/services/user.service.ts
  frontend/src/app/utils/translateErrors.ts
Labels: backend, frontend

#109 feat: integration task list screen
  .vscode/settings.json
  backend/src/main/java/com/example/worksync/controller/TaskController.java
  backend/src/main/java/com/example/worksync/dto/requests/TaskDTO.java
  backend/src/main/java/com/example/worksync/repository/TaskRepository.java
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
  backend/src/main/java/com/example/worksync/service/TaskService.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/pages/create-task/create-task.component.ts
  frontend/src/app/pages/tasks/tasks.component.html
  frontend/src/app/pages/tasks/tasks.component.ts
  frontend/src/app/services/tasks.service.ts
Labels: enhancement, backend

#116 feat: implementation of project editing and integration with the backend
  frontend/src/app/app.routes.ts
  frontend/src/app/pages/projects/edit-project/edit-project.component.css
  frontend/src/app/pages/projects/edit-project/edit-project.component.html
  frontend/src/app/pages/projects/edit-project/edit-project.component.spec.ts
  frontend/src/app/pages/projects/edit-project/edit-project.component.ts
  frontend/src/app/pages/projects/projects.component.ts
  frontend/src/app/services/project.service.ts
Labels: frontend

#112 feat: integration of the view project component with the backend
  backend/src/main/java/com/example/worksync/controller/ProjectController.java
  backend/src/main/java/com/example/worksync/controller/UserController.java
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
  backend/src/main/java/com/example/worksync/service/UserService.java
  frontend/src/app/app.routes.ts
  frontend/src/app/pages/projects/projects.component.html
  frontend/src/app/pages/projects/view-project/view-project.component.css
  frontend/src/app/pages/projects/view-project/view-project.component.html
  frontend/src/app/pages/projects/view-project/view-project.component.ts
  frontend/src/app/services/project.service.ts
  frontend/src/app/services/tasks.service.ts
  frontend/src/app/services/types/user.ts
  frontend/src/app/services/user.service.ts
Labels: frontend

#134 creating the file for github actions and prerendering disable
  .github/workflows/frontend-ci.yml
  frontend/src/app/app.routes.server.ts
Labels: enhancement, frontend

#135 feat: actions config and application.properties-test
  .github/workflows/backend-ci.yml
  .vscode/settings.json
  backend/.github/workflows/ci.yml
  backend/pom.xml
  backend/src/main/resources/application-test.properties
Labels: enhancement, backend

#138 feat:backend-set-dockerfile
  backend/Dockerfile
Labels: enhancement, backend

#140 feat:frontend-set-dockerfile
  frontend/Dockerfile
Labels: enhancement, frontend

#142 feat(deploy): add backend url env
  frontend/Dockerfile
  frontend/angular.json
  frontend/src/app/services/auth/auth.service.ts
  frontend/src/app/services/comment.service.ts
  frontend/src/app/services/project.service.ts
  frontend/src/app/services/tasks.service.ts
  frontend/src/app/services/user.service.ts
  frontend/src/environments/environment.development.ts
  frontend/src/environments/environment.ts
Labels: frontend

#153 update develop with main
  README.md
Labels: bug

#152 fix: ssr frontend deploy
  frontend/Dockerfile
  frontend/nginx.conf
Labels: bug, frontend

#154 chore: http method options
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
Labels: bug, backend

#169 feat: create user assignment task notifications
  backend/src/main/java/com/example/worksync/controller/NotificationController.java
  backend/src/main/java/com/example/worksync/event/UserTaskAssignmentEvent.java
  backend/src/main/java/com/example/worksync/event/UserTaskAssignmentListener.java
  backend/src/main/java/com/example/worksync/model/Notification.java
  backend/src/main/java/com/example/worksync/model/Task.java
  backend/src/main/java/com/example/worksync/repository/NotificationRepostiory.java
  backend/src/main/java/com/example/worksync/service/NotificationService.java
  backend/src/main/java/com/example/worksync/service/TaskService.java
Labels: enhancement, backend

#171 fix: removing autowired injection
  backend/src/main/java/com/example/worksync/controller/AuthController.java
  backend/src/main/java/com/example/worksync/controller/CommentController.java
  backend/src/main/java/com/example/worksync/controller/ProjectController.java
  backend/src/main/java/com/example/worksync/controller/TaskController.java
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
  backend/src/main/java/com/example/worksync/security/SecurityFilter.java
  backend/src/main/java/com/example/worksync/service/AuthService.java
  backend/src/main/java/com/example/worksync/service/CommentService.java
  backend/src/main/java/com/example/worksync/service/ProjectService.java
  backend/src/main/java/com/example/worksync/service/TaskService.java
Labels: backend

#173 test: notification implementations
  backend/src/main/java/com/example/worksync/repository/NotificationRepository.java
  backend/src/main/java/com/example/worksync/service/CommentService.java
  backend/src/main/java/com/example/worksync/service/NotificationService.java
  backend/src/test/java/com/example/worksync/controller/NotificationControllerTest.java
  backend/src/test/java/com/example/worksync/event/UserTaskAssignmentListenertTest.java
  backend/src/test/java/com/example/worksync/integrations/NotificationIntegrationTest.java
  backend/src/test/java/com/example/worksync/service/NotificationServiceTest.java
Labels: backend

#174 feat: comment implementations and test
  backend/src/main/java/com/example/worksync/service/CommentService.java
  backend/src/test/java/com/example/worksync/service/CommentServiceTest.java
Labels: backend

#175 feat: implementation of status Task
  backend/src/main/java/com/example/worksync/controller/ProjectController.java
  backend/src/main/java/com/example/worksync/controller/TaskController.java
  backend/src/main/java/com/example/worksync/dto/requests/TaskDTO.java
  backend/src/main/java/com/example/worksync/model/Project.java
  backend/src/main/java/com/example/worksync/model/enums/TaskStatus.java
  backend/src/main/java/com/example/worksync/repository/UserRepository.java
  backend/src/main/java/com/example/worksync/security/CorsConfig.java
  backend/src/main/java/com/example/worksync/security/SecurityFilter.java
  backend/src/main/java/com/example/worksync/service/AuthService.java
  backend/src/main/java/com/example/worksync/service/ProjectService.java
  backend/src/main/java/com/example/worksync/service/TaskService.java
  backend/src/main/java/com/example/worksync/service/UserService.java
  frontend/src/app/pages/tasks/edit-task/edit-task.component.html
  frontend/src/app/pages/tasks/tasks.component.html
  frontend/src/app/pages/tasks/tasks.component.ts
  frontend/src/app/services/tasks.service.ts
Labels: backend
