Repository WorkSync-organization/worksync-rp, pull requests merged in 2025-02, with the labels that each got.

#5 docs: readme.md
  README.md
Labels: documentation

#6 chore: create spring boot project
  backend/.gitattributes
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/example/worksync/WorksyncApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/example/worksync/WorksyncApplicationTests.java
Labels: enhancement

#7 feat(release): 16-02-2024
  README.md
  backend/.gitattributes
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/example/worksync/WorksyncApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/example/worksync/WorksyncApplicationTests.java
  frontend/.editorconfig
  frontend/.gitignore
  frontend/.vscode/extensions.json
  frontend/.vscode/launch.json
  frontend/.vscode/tasks.json
  frontend/README.md
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.config.server.ts
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.server.ts
  frontend/src/app/app.routes.ts
  frontend/src/index.html
  frontend/src/main.server.ts
  frontend/src/main.ts
  frontend/src/server.ts
  frontend/src/styles.css
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
Labels: release

#29 refactor: project structure improvements
  backend/pom.xml
  backend/src/main/java/com/example/worksync/controller/AuthController.java
  backend/src/main/java/com/example/worksync/controller/HealthCheckController.java
  backend/src/main/java/com/example/worksync/dto/requests/AuthDTO.java
  backend/src/main/java/com/example/worksync/dto/requests/UserDTO.java
  backend/src/main/java/com/example/worksync/dto/responses/LoginResponseDTO.java
  backend/src/main/java/com/example/worksync/model/User.java
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
  backend/src/main/java/com/example/worksync/service/AuthService.java
  backend/src/main/java/com/example/worksync/service/TokenService.java
  backend/src/main/resources/application.properties
Labels: enhancement, backend, improvement

#33 feat: login screen
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/logo.svg
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/auth.guard.ts
  frontend/src/app/auth.interceptor.spec.ts
  frontend/src/app/auth.interceptor.ts
  frontend/src/app/pages/login/login.component.css
  frontend/src/app/pages/login/login.component.html
  frontend/src/app/pages/login/login.component.spec.ts
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/services/auth.guard.spec.ts
  frontend/src/app/services/auth.service.spec.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/user.ts
Labels: enhancement, frontend

#31 chore: cors configuration
  backend/src/main/java/com/example/worksync/security/CorsConfig.java
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
Labels: enhancement, backend

#36 fix: cors configuration
  backend/src/main/java/com/example/worksync/security/CorsConfig.java
Labels: backend

#35 feat: logout function
  frontend/src/app/app.routes.ts
  frontend/src/app/pages/home/home.component.css
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.ts
  frontend/src/app/pages/login/login.component.css
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/index.html
  frontend/src/styles.css
Labels: enhancement, frontend

#37 style: add favicon
  frontend/public/favicon.ico
  frontend/public/favicon.svg
  frontend/src/index.html
Labels: frontend

#44 feat: configure handler error exceptions
  backend/src/main/java/com/example/worksync/exceptions/ConflictException.java
  backend/src/main/java/com/example/worksync/exceptions/core/ErrorResponse.java
  backend/src/main/java/com/example/worksync/exceptions/core/GlobalExceptionHandler.java
  backend/src/main/java/com/example/worksync/service/AuthService.java
  frontend/src/app/app.routes.ts
  frontend/src/app/pages/home/home.component.ts
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/register/register.component.ts
  frontend/src/app/services/auth/auth.guard.spec.ts
  frontend/src/app/services/auth/auth.guard.ts
  frontend/src/app/services/auth/auth.interceptor.spec.ts
  frontend/src/app/services/auth/auth.interceptor.ts
  frontend/src/app/services/auth/auth.service.spec.ts
  frontend/src/app/services/auth/auth.service.ts
  frontend/src/app/services/types/user.ts
  frontend/src/app/services/user.ts
  frontend/src/app/utils/translateErrors.ts
Labels: backend, frontend, improvement
