Repository WorkSync-organization/worksync-rp, pull requests merged in 2025-04, with the labels that each got.

#185 fix(tasks): creator and responsible person can view the task
  frontend/src/app/pages/tasks/tasks.component.ts
  frontend/src/app/services/tasks.service.ts
Labels: bug, frontend

#184 feat: task integration tests
  backend/src/main/java/com/example/worksync/model/Task.java
  backend/src/test/java/com/example/worksync/integrations/TaskControllerIntegrationTest.java
Labels: backend

#183 tests: implementing commentControllerTest and refactoring comment s…
  backend/src/test/java/com/example/worksync/controller/CommentControllerTest.java
  backend/src/test/java/com/example/worksync/service/CommentServiceTest.java
Labels: backend

#182 test(notification): integration tests
  backend/src/test/java/com/example/worksync/integrations/NotificationIntegrationTest.java
Labels: backend

#179 test: implementing project tests
  backend/src/main/java/com/example/worksync/service/ProjectService.java
  backend/src/test/java/com/example/worksync/controller/ProjectControllerTest.java
  backend/src/test/java/com/example/worksync/service/ProjectServiceTest.java
Labels: backend

#186 Test: implementing tests to increase coverage
  backend/src/test/java/com/example/worksync/controller/AuthControllerTest.java
  backend/src/test/java/com/example/worksync/controller/HealthCheckControllerTest.java
  backend/src/test/java/com/example/worksync/controller/UserControllerTest.java
  backend/src/test/java/com/example/worksync/exceptions/ConflictExceptionTest.java
  backend/src/test/java/com/example/worksync/exceptions/core/ErrorResponseTest.java
  backend/src/test/security/SecurityFilterTest.java
Labels: backend

#188 test: authentication controller
  backend/src/test/java/com/example/worksync/controller/AuthControllerTest.java
Labels: backend

#189 feat(release):31-03-2025
  backend/src/main/java/com/example/worksync/controller/AuthController.java
  backend/src/main/java/com/example/worksync/controller/CommentController.java
  backend/src/main/java/com/example/worksync/controller/NotificationController.java
  backend/src/main/java/com/example/worksync/controller/ProjectController.java
  backend/src/main/java/com/example/worksync/controller/TaskController.java
  backend/src/main/java/com/example/worksync/dto/requests/TaskDTO.java
  backend/src/main/java/com/example/worksync/event/UserTaskAssignmentEvent.java
  backend/src/main/java/com/example/worksync/event/UserTaskAssignmentListener.java
  backend/src/main/java/com/example/worksync/model/Notification.java
  backend/src/main/java/com/example/worksync/model/Project.java
  backend/src/main/java/com/example/worksync/model/Task.java
  backend/src/main/java/com/example/worksync/model/enums/TaskStatus.java
  backend/src/main/java/com/example/worksync/repository/NotificationRepository.java
  backend/src/main/java/com/example/worksync/repository/TaskRepository.java
  backend/src/main/java/com/example/worksync/repository/UserRepository.java
  backend/src/main/java/com/example/worksync/security/CorsConfig.java
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
  backend/src/main/java/com/example/worksync/security/SecurityFilter.java
  backend/src/main/java/com/example/worksync/service/AuthService.java
  backend/src/main/java/com/example/worksync/service/CommentService.java
  backend/src/main/java/com/example/worksync/service/NotificationService.java
  backend/src/main/java/com/example/worksync/service/ProjectService.java
  backend/src/main/java/com/example/worksync/service/TaskService.java
  backend/src/main/java/com/example/worksync/service/UserService.java
  backend/src/test/java/com/example/worksync/WorksyncApplicationTests.java
  backend/src/test/java/com/example/worksync/controller/AuthControllerTest.java
  backend/src/test/java/com/example/worksync/controller/CommentControllerTest.java
  backend/src/test/java/com/example/worksync/controller/NotificationControllerTest.java
  backend/src/test/java/com/example/worksync/controller/ProjectControllerTest.java
  backend/src/test/java/com/example/worksync/controller/TaskControllerTest.java
  backend/src/test/java/com/example/worksync/controller/UserControllerTest.java
  backend/src/test/java/com/example/worksync/event/UserTaskAssignmentListenertTest.java
  backend/src/test/java/com/example/worksync/integrations/NotificationIntegrationTest.java
  backend/src/test/java/com/example/worksync/integrations/TaskControllerIntegrationTest.java
  backend/src/test/java/com/example/worksync/security/SecurityFilterTest.java
  backend/src/test/java/com/example/worksync/service/CommentServiceTest.java
  backend/src/test/java/com/example/worksync/service/NotificationServiceTest.java
  backend/src/test/java/com/example/worksync/service/ProjectServiceTest.java
  backend/src/test/java/com/example/worksync/service/TaskServiceTest.java
  frontend/src/app/components/navbar/navbar.component.css
  frontend/src/app/components/navbar/navbar.component.html
  frontend/src/app/components/navbar/navbar.component.ts
  frontend/src/app/pages/tasks/edit-task/edit-task.component.html
  frontend/src/app/pages/tasks/tasks.component.html
  frontend/src/app/pages/tasks/tasks.component.ts
  frontend/src/app/services/notification.service.ts
  frontend/src/app/services/tasks.service.ts
Labels: backend

#191 fix: adding user options to the registry
  frontend/src/app/pages/register/register.component.css
  frontend/src/app/pages/register/register.component.html
Labels: frontend

#196 fix: disabling user to create a project
  backend/src/main/java/com/example/worksync/service/TokenService.java
  backend/src/test/java/com/example/worksync/WorksyncApplicationTests.java
  frontend/src/app/pages/projects/create-project/create-project.component.html
  frontend/src/app/pages/projects/create-project/create-project.component.ts
  frontend/src/app/pages/projects/projects.component.html
  frontend/src/app/pages/projects/projects.component.ts
Labels: backend

#197 Fix/fixing sonar issues and increasing coverage
  backend/src/main/java/com/example/worksync/repository/UserRepository.java
  backend/src/test/java/com/example/worksync/WorksyncApplicationTests.java
  backend/src/test/java/com/example/worksync/controller/AuthControllerTest.java
  backend/src/test/java/com/example/worksync/controller/HealthCheckControllerTest.java
  backend/src/test/java/com/example/worksync/controller/ProjectControllerTest.java
  backend/src/test/java/com/example/worksync/controller/TaskControllerTest.java
  backend/src/test/java/com/example/worksync/controller/UserControllerTest.java
  backend/src/test/java/com/example/worksync/event/UserTaskAssignmentEventTest.java
  backend/src/test/java/com/example/worksync/exceptions/core/GlobalExceptionHandlerTest.java
  backend/src/test/java/com/example/worksync/model/enums/TaskStatusTest.java
  backend/src/test/java/com/example/worksync/model/enums/UserRoleTest.java
  backend/src/test/java/com/example/worksync/security/SecurityFilterTest.java
  backend/src/test/java/com/example/worksync/service/AuthServiceTest.java
  backend/src/test/java/com/example/worksync/service/CommentServiceTest.java
  backend/src/test/java/com/example/worksync/service/ProjectServiceTest.java
  backend/src/test/java/com/example/worksync/service/TaskServiceTest.java
  backend/src/test/java/com/example/worksync/service/TokenServiceTest.java
  backend/src/test/java/com/example/worksync/service/UserServiceTest.java
Labels: backend

#198 feat: admin can't create task
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
  frontend/src/app/components/navbar/navbar.component.html
  frontend/src/app/components/navbar/navbar.component.ts
Labels: backend, frontend

#199 test: increase % coverage test
  backend/src/test/java/com/example/worksync/controller/ProjectControllerTest.java
  backend/src/test/java/com/example/worksync/controller/TaskControllerTest.java
  backend/src/test/java/com/example/worksync/model/UserTest.java
  backend/src/test/java/com/example/worksync/service/CommentServiceTest.java
  backend/src/test/java/com/example/worksync/service/ProjectServiceTest.java
  backend/src/test/java/com/example/worksync/service/TaskServiceTest.java
Labels: backend

#203 Fix: adjusting some Sonar Cloud issues
  backend/src/main/java/com/example/worksync/model/Comment.java
  backend/src/main/java/com/example/worksync/model/Project.java
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
  backend/src/main/java/com/example/worksync/service/CommentService.java
  backend/src/main/java/com/example/worksync/service/TokenService.java
  backend/src/test/java/com/example/worksync/security/SecurityFilterTest.java
Labels: backend

#202 fix: maintainability issue
  backend/src/main/java/com/example/worksync/dto/requests/TaskDTO.java
  backend/src/main/java/com/example/worksync/service/ProjectService.java
  backend/src/main/java/com/example/worksync/service/TaskService.java
  backend/src/test/java/com/example/worksync/WorksyncApplicationTests.java
  backend/src/test/java/com/example/worksync/controller/CommentControllerTest.java
  backend/src/test/java/com/example/worksync/controller/HealthCheckControllerTest.java
  backend/src/test/java/com/example/worksync/controller/NotificationControllerTest.java
  backend/src/test/java/com/example/worksync/security/SecurityFilterTest.java
  backend/src/test/java/com/example/worksync/service/TaskServiceTest.java
Labels: backend

#204 refactor: protect delete/edit routes
  backend/src/main/java/com/example/worksync/security/SecurityConfig.java
  frontend/src/app/pages/projects/projects.component.html
  frontend/src/app/pages/projects/view-project/view-project.component.html
  frontend/src/app/pages/projects/view-project/view-project.component.ts
  frontend/src/app/pages/tasks/tasks.component.html
  frontend/src/app/pages/tasks/tasks.component.ts
Labels: backend, frontend
